:root {
    --green: #8bc34a;
    --red: #f44336;
    --brown: #5d4037;
    --white: #ffffff;
    --black: #000000;

    --secondaryLE: #ffffa4;
    --secondaryL: #ffff72;
    --secondaryM: #ffeb3b;
    --secondaryD: #c8b900;

    --primaryL: #ffc947;
    --primaryM: #ff9800;
    --primaryD: #c66900;

    --whiteL: #eceff1;
    --whiteD: #babdbe;
    --darkL: #61656d;
    --darkM: #373b42;
    --darkD: #11151b;
}

::selection {
    color: var(--darkD);
    background: var(--secondaryL);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather Sans', serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    background-color: var(--darkM);
}

button.chosen {
    background-color: var(--secondaryLE);
}

label, a {
    color: var(--white);
    padding: 1vh 0;
    font-size: 1.2pc;
    text-align: center;
}

input {
    font-size: 2pc;
    width: 12vh;
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#board button {
    width: 10vh;
    height: 10vh;
}

#panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    justify-self: center;
    gap: 2vh;
}

#circle, #cross {
    width: 6vh;
    height: 6vh;
    border-radius: 3vh;
}

#depth {
    margin: auto;
}

#restart {
    height: 5vh;
}

.col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    justify-self: center;
    gap: 2vh;
    width: 10vw;
}

input.number {
    overflow: hidden;
}

input.checkbox {
    height: 3vh;
    width: 3vh;
    margin: auto;
}